<!DOCTYPE html>
<html ng-app="{{app_name}}">
<head>
    <title>{{app_title}}</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
</head>
<body ng-controller="{{main_controller_name}}">

     <input type="text" data-ng-model="search" />
     <br />
     <ul>
          <li ng-repeat="item in items | filter:search | orderBy:'title">
               <a href="{{item.url}}" ng-click="{{path_to_action}}">{{ item.title }}</a>
          </li>
     </ul>

    <script src="Scripts/jquery.min.js"></script>   
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

    <script>
        var app = angular.module('app', []);
        app.controller('mainController', function ($scope, $templateCache, $http, $location) {
            $scope.items = [
                { title: 'Item One', url: '/items/1' },
                { title: 'Item Two', url: '/items/2'  },
                { title: 'Item Three', url: '/items/3'  }
            ];
        });
    </script>
</body>
</html>

