<h1>Listing events</h1>

<table>
  <tr>
    <th>Occured at</th>
    <th>Cost</th>
    <th>Location</th>
    <th>Description</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.occured_at %></td>
    <td><%= event.cost %></td>
    <td><%= event.location %></td>
    <td><%= event.description %></td>
    <td><%= event.details %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
