<%= form_for(@participate) do |f| %>
  <% if @participate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participate.errors.count, "error") %> prohibited this participate from being saved:</h2>

      <ul>
      <% @participate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :member %><br />
    <%= f.text_field :member %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
