<h1>Listing participates</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Member</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participates.each do |participate| %>
  <tr>
    <td><%= participate.event %></td>
    <td><%= participate.member %></td>
    <td><%= link_to 'Show', participate %></td>
    <td><%= link_to 'Edit', edit_participate_path(participate) %></td>
    <td><%= link_to 'Destroy', participate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participate', new_participate_path %>
