<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @participate.event %>
</p>

<p>
  <b>Member:</b>
  <%= @participate.member %>
</p>


<%= link_to 'Edit', edit_participate_path(@participate) %> |
<%= link_to 'Back', participates_path %>
