<!DOCTYPE html>
<html ng-app='TheApp' lang='en'>
<head>
    <title>{{app_title}}</title>
</head>
<body ng-controller="MemberController">
  <div class='container'>
    <h1 class='center-block'>Members</h1> 
   <span>Search:</span><input type="text" data-ng-model="search" />
   <br />
   <span>{{members.length}} Members</span>
   <table class="table table-striped table-hover">
        <tr ng-repeat="item in members | filter:search | orderBy:id" class='list-unstyled'>
          <td>
            <a class="col-md-1" href="#" ng-click="show(item)">{{ item.name }}</a>
          </td>
          <td>
            <span class="col-md-1">{{ item.balance }}</span>
          </td>
          <td>
            <span class="col-md-1">{{ item.description }}</span>
          </td>
          <td>
            <a class="col-md-1" href="#" ng-click="delete(item)">Delete</a>
           </td>
           <td>
            <input type='text' class="col-md-1" ng-model='item.name' />
           </td>
        </tr>
   </table>
    <div>
      New Member
    </div>
    <form name='form'>
      <div class="row">
        <span class="col-sm-2">Name:</span>
        <input class="col-md-2" type='text' name='name' ng-model='newMember.name' required />
         <span ng-show="form.name.$invalid" class="col-md-2">Name is required.</span>
    </div>
      <div class="row">
        <span class="col-sm-2">Balance:</span>
        <input class="col-md-2" type='number' ng-model='newMember.balance' name='balance' required/>
        <span ng-show="form.balance.$invalid" class="col-md-2">Balance is required and must be numeric.</span>
      </div>
      <div class="row">
        <span class="col-sm-2">Description:</span>
        <input class="col-md-2" type='text' ng-model='newMember.description' ng-maxlength=50/>
      </div>
       <button ng-click='addMember(newMember)' ng-disabled='form.$invalid'>Add Member</button>
    </form>
    </div>
  </body>
</html>

