     <span>Search:</span><input type="text" data-ng-model="search" />
     <br />
     <ul>
          <li ng-repeat="item in members | filter:search | orderBy:id" class='row'>
               <a class="col-md-2" href="#" ng-click="show(item)">{{ item.name }}</a>
               <span class="col-md-4">{{ item.balance }}</span>
               <span class="col-md-8">{{ item.description }}</span>
          </li>
     </ul>

	<div class="row">
     	<span class="col-md-1">Name:</span><input class="col-md-2" type='text' ng-model='newMember.name' required />
     	<span class="col-md-1">Balance:</span><input class="col-md-2" type='number' ng-model='newMember.balance' />
     	<span class="col-md-1">Description:</span><input class="col-md-2" type='text' ng-model='newMember.description' ng-maxlength=50/>
    </div>

     <button ng-click='addMember(newMember)'>Add Member</button>