<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Balance:</b>
  <%= @member.balance %>
</p>

<p>
  <b>Description:</b>
  <%= @member.description %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
